<div id="map">
    <ng-map id="mainMap" center="{{center.lat}},{{center.lng}}" zoom="{{center.zoom}}" on-click="addMarker(event, markerType)">

        <marker ng-repeat="marker in markers" position="{{marker.lat}},{{marker.lng}}" title="user: {{marker.user}}" icon="{{marker.imagen}}" on-click="InfoWindow(event, marker)"></marker>
    
       
        <custom-marker ng-if="marker.status=='Reparado'" ng-repeat="marker in markers" position="{{marker.lat}},{{marker.lng}}">
            <div class="timerContainer">
                <div class="nest">
                    <img src="./img/icons/game/ok.png" width="25" height="25" />
                </div>
            </div>
        </custom-marker>
       
       
        <info-window id="InfoWindow">
            <div ng-non-bindable="" layout="row" style="min-height: 400px;">
                <md-tabs style="width: 300px;">
                    <md-tab label="Antes">
                        <div layout="column">
                            <div ng-hide="editingComments" layout="column">
                                <img src="{{Info.photo}}" width="100%">
                                <div layout="row">
                                    <md-button class="md-icon-button" ng-click="voteUp(Info)">
                                        <md-tooltip md-direction="left">Confirmar</md-tooltip>
                                        <md-icon class="material-icons">thumb_up</md-icon>
                                    </md-button>
                                    <div>{{Info.voteUp}}</div>
                                    <md-button class="md-icon-button" ng-click="voteDown(Info)">
                                        <md-tooltip md-direction="left">No confirmado</md-tooltip>
                                        <md-icon class="material-icons">thumb_down</md-icon>
                                    </md-button>
                                    <div>{{Info.voteDown}}</div>
                                    <md-button class="md-icon-button" ng-click="renderForm(Info)" aria-label="editar">
                                        <md-tooltip md-direction="left">Modificar la informacion</md-tooltip>
                                        <md-icon class="material-icons">mode_edit</md-icon>
                                    </md-button>
                                    <md-button aria-label="share" socialshare-type="feed" socialshare-to="1736478399954550" class="md-icon-button" aria-hidden="true" socialshare socialshare-provider="facebook" socialshare-via="315937542117477" socialshare-text="{{Info.shareText}}" socialshare-hashtags="Aplicacion del Cambio, Baches"
                                        socialshare-media="{{Info.mediaUrl}}" socialshare-url="{{Info.shareUrl}}">
                                        <md-tooltip md-direction="left">Compartir en facebook</md-tooltip>
                                        <md-icon class="material-icons">share</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="removeMarker(Info)">
                                        <md-tooltip md-direction="left">Borrar este bache</md-tooltip>
                                        <md-icon class="material-icons">remove_circle</md-icon>
                                    </md-button>
                                </div>
                                <div><b>Descripcion:</b> {{Info.comments}}</div><br>
                                <div><b>Referencia:</b> {{Info.referencia}}</div><br>
                                <div layout="row">
                                    <div class="md-nivel">{{Info.nivel}}</div>
                                    &nbsp;<span>by</span>&nbsp;
                                    <a href="suscriptor/{{Info.userId}}">{{Info.user}}</a>
                                </div>
                            </div>
                        </div>
                    </md-tab>

                    <md-tab label="Despues">
                        <div layout="column">
                            <img ng-if="Info.photoReparado" src="{{Info.photoReparado}}" width="200" style="cursor: pointer;" />
                            <div ng-if="!Info.photoReparado">
                                <p>
                                El funcionario aun no ha atendido esta petición.    
                                </p>
                            </div>
                            <div ng-if="F.user.team=='Funcionario'">
                                <choose-file layout="row">
                                    <input id="fileInput" type="file" class="ng-hide" ng-model="Info.file">

                                    <md-input-container flex class="md-block">
                                        <input type="text" ng-model="Info.fileName" disabled>
                                    </md-input-container>

                                    <div>
                                        <md-button id="uploadButton" class="md-fab md-mini">
                                            <md-icon class="material-icons">attach_file</md-icon>
                                        </md-button>
                                    </div>
                                </choose-file>

                                <md-input-container>
                                    <label>Estado</label>
                                    <md-select ng-model="Info.status" ng-change="saveStatus(Info.key, Info)">
                                        <md-option ng-value="status" ng-repeat="status in statusList">{{ status }}</md-option>
                                    </md-select>
                                </md-input-container>

                                <div>
                                    <md-button class="md-raised md-accent md-warn" ng-click="saveRepared(Info)">Guardar</md-button>
                                </div>
                            </div>

                            <div ng-if="F.user.team=='Administrador'">
                                <h1>Autorizado por administrador</h1>

                                <md-switch ng-model="Info.autorizado" ng-change="autorizar(Info)" aria-label="Autorizado"></md-switch>
                            </div>
                        </div>
                    </md-tab>

                    <md-tab>
                        <md-tab-label>
                            <md-icon class="material-icons">comment</md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <div ng-hide="editingComments" id="fb-comment-box" dyn-fb-comment-box page-href="https://{{F.dominio}}/bache/{{Info.key}}" numposts="5" colorscheme="light">
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </info-window>
    </ng-map>
</div>


<div class="map_buttons_container">
    <md-button ng-click="suscribeMe()" ng-if="!ImHere" class="md-raised md-accent">Suscribirse {{suscriptions}}</md-button>
    <md-button ng-click="unSuscribe()" ng-if="ImHere" class="md-raised md-accent">Quitar suscripcion {{suscriptions}}</md-button>
</div>

<div class="map_right_menu_container" ng-if="F.user.team!='Funcionario'">
    <div ng-cloak="">
        <md-fab-speed-dial md-open="false" md-direction="down" class="md-fling" ng-click="setOpen()">

            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-primary">
                    <md-icon md-svg-src="./img/icons/google/ic_add_white_24px.svg"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="addBache" style="background: url('./img/icons/baches/Icono_Baches.svg') center center;" ng-class="markerType == 'baches' ? 'md-fab md-mini md-accent' : 'md-fab md-mini md-raised'" ng-click="setMarkerType('baches')">
                      <md-tooltip md-direction="left">Bache</md-tooltip> 
                </md-button>
            </md-fab-actions>

            <md-fab-actions>
                <md-button aria-label="addBache" style="background: url('./img/icons/baches/Icono_Alumbrado.svg') center center;" ng-class="markerType == 'alumbrado' ? 'md-fab md-mini md-accent' : 'md-fab md-mini md-raised'" ng-click="setMarkerType('alumbrado')">
                     <md-tooltip md-direction="left">Alumbrado</md-tooltip>  
                </md-button>
            </md-fab-actions>

            <md-fab-actions>
                <md-button aria-label="addBache" style="background: url('./img/icons/baches/Icono_Inseguridad.svg') center center;" ng-class="markerType == 'inseguridad' ? 'md-fab md-mini md-accent' : 'md-fab md-mini md-raised'" ng-click="setMarkerType('inseguridad')">
                    <md-tooltip md-direction="left">Inseguridad</md-tooltip>   
                </md-button>
            </md-fab-actions>

            <md-fab-actions>
                <md-button aria-label="addBache" style="background: url('./img/icons/baches/Icono_Inundaciones.svg') center center;" ng-class="markerType == 'inundaciones' ? 'md-fab md-mini md-accent' : 'md-fab md-mini md-raised'" ng-click="setMarkerType('inundaciones')">
                    <md-tooltip md-direction="left">Inundaciones</md-tooltip>
                </md-button>
            </md-fab-actions>

        </md-fab-speed-dial>
    </div>
</div>

<div class="map_right_bot_container">
    <md-button aria-label="Go to my location" class="md-fab md-mini md-raised" ng-click="goToMyLocation()">
        <md-tooltip md-direction="left">Go to my location</md-tooltip>
        <i class="material-icons">my_location</i>
    </md-button>
</div>
